body{
    font-family: 'Inter', sans-serif; 
    width: 412px;
    height: 917px;
    
}

main {
    margin-top: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:52px;
}

.validar{
    display:flex;
    flex-direction: row;
    align-items:center;
    width:330px;
    height:80px;
    border:solid 1px;
    border-radius:10px;
    justify-content: space-between;
    padding:30px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);

}

.validar img{
    width:50px;
    height:50px;
}

#botao-validar{
    background-color:#165B3C;
    width: 96px;
    height: 38px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content: center;

}

#botao-validar a{
    text-decoration:none;
    color:white;
}

#disponivel{
    background-color:#E2F8E3;
    height: 22px;
    width: 101px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content: center;
}

/*HEADER*/
   

/*header cima*/

header{
    background-color:#165B3C;
    color:white;

    position: fixed;   
    top: 0;            
    left: 0;           
    width: 412px;  
    height: 118px;     
    z-index: 1000; 
    
}

header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-top:0px;
    padding-bottom:8px;
}

#perfil{
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items:center;
}

#perfil #aba{
    filter: brightness(0) invert(1);
    width:15px;
    height:6px;

}

#perfil img{
    width:31px;
    height:31px;
}

#perfil a{
    text-decoration:none;
    color:white;
}

/**/ 

header nav{
    display:flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    
}

header nav a{
    text-decoration:none;
    color:white;
}


/*fim header*/