body{
    weight: 412px;
    height: 917px;
}
    
    
header{
    background-color:#165B3C;
    color:white;

    position: fixed;   
    top: 0;            
    left: 0;           
    width: 100%;       
    z-index: 1000; 
    height:118px;
}

main {
    margin-top: 300px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:52px;
}

header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav{
    display:flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    
}

header nav a{
    text-decoration:none;
    color:white;
}

.validar{
    display:flex;
    flex-direction: row;
    align-items:center;
    width:330px;
    height:80px;
    border:solid 1px;
    border-radius:10px;
    justify-content: space-between;
    padding:30px

}

#botao-validar{
    background-color:#165B3C;
    width: 96px;
    height: 38px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content: center;

}

#botao-validar a{
    text-decoration:none;
    color:white;
}

#disponivel{
    background-color:#E2F8E3;
    height: 22px;
    width: 101px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content: center;
}