<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../style/dashboard.css">
</head>
<body>
    <header>

        <section>
            <div id="logo">
                <img>
                <p>NUTRIF</p>
            </div>

            <div id="perfil">
                <img>
                <p>Nome do usuário</p>
            </div>
        </section>
        
        <nav>
            <a href="dashboard.html">Início</a>
            <a href="refeicoes.html">Refeições</a>
            <a href="historico.html">histórico</a>
        </nav>
    </header>

    <main>
        <div>
            <h2>OLÁ, NOME DO USUÁRIO!</h2>
            <p>Confira sua alimentação de hoje.</p>
        </div>

        <div class="validar">
            <img>
            <div>
                <h3>Lanche da manhã</h3>
                <div id="disponivel"><p>disponivel</p></div>
            </div>

            <div id="botao-validar">
                <a href="validar.html">Validar</a>
            </div>
        </div>

        <div class="validar">
            <img>
            <div>
                <h3>Lanche da Tarde</h3>
                <div id="disponivel"><p>disponivel</p></div>
            </div>

            <div id="botao-validar">
                <a href="validar.html">Validar</a>
            </div>
        </div>

        <div class="validar">
            <img>
            <div>
                <h3>Lanche da Noite</h3>
                <div id="disponivel"><p>disponivel</p></div>
            </div>

            <div id="botao-validar">
                <a href="validar.html">Validar</a>
            </div>
        </div>
    </main>

    <footer></footer>
</body>
</html>