<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <!-- fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/dashboard.css">
</head>
<body>
    <header>

        <section>
            <div id="logo">
                <img>
                <p>NUTRIF</p>
            </div>

            <div id="perfil">
                <img src="../images/perfil.png" alt="perfil">
                <a href="perfil_aluno.html">Nome do usuário</a>
                <img id="aba" src="../images/aba.png" alt="aba perfil">
            </div>
        </section>
        
        <nav>
            <a href="dashboard.html">Início</a>
            <a href="refeicoes.html">Refeições</a>
            <a href="historico.html">Histórico</a>
        </nav>
    </header>

    <main>
        <div>
            <h2>OLÁ, NOME DO USUÁRIO!</h2>
            <p>Confira sua alimentação de hoje.</p>
        </div>

        <div class="validar">
            <img src="../images/lanche_manha.png" alt="Lanche da manhã">
            <div>
                <h3>Lanche da manhã</h3>
                <div id="disponivel"><p>Disponível</p></div>
            </div>

            <div id="botao-validar">
                <a href="qr_code_aluno.html">Validar</a>
            </div>
        </div>

        <div class="validar">
            <img src="../images/lanche_tarde.png" alt="Lanche da tarde">
            <div>
                <h3>Lanche da Tarde</h3>
                <div id="disponivel"><p>Disponível</p></div>
            </div>

            <div id="botao-validar">
                <a href="qr_code_aluno.html">Validar</a>
            </div>
        </div>

        <div class="validar">
            <img src="../images/lanche_noite.png" alt="Lanche da noite">
            <div>
                <h3>Lanche da Noite</h3>
                <div id="disponivel"><p>Disponível</p></div>
            </div>

            <div id="botao-validar">
                <a href="qr_code_aluno.html">Validar</a>
            </div>
        </div>
    </main>

    <footer></footer>
</body>
</html>