<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>

    <!-- fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/historico.css">
</head>
<body>
     <header>

        <section>
            <div id="logo">
                <img>
                <p>NUTRIF</p>
            </div>

            <div id="perfil">
                <img src="../images/perfil.png" alt="perfil">
               <a href="perfil_aluno.html">Nome do usuário</a>
                <img id="aba" src="../images/aba.png" alt="aba perfil">
            </div>
        </section>
        
        <nav>
            <a href="dashboard.html">Início</a>
            <a href="refeicoes.html">Refeições</a>
            <a href="historico.html">Histórico</a>
        </nav>
    </header>

    <main>

        <h1>Histórico de Refeições</h1>

        <section class="historico-dias">
            <div id="data">
                <p>Hoje</p>
                <p>10/10/2027</p>
            </div> 

            <div class="container">

                <div class="check">
                    <img src="../images/Check.png" alt="check">
                </div>

                <div class="informacoes-container">
                    <p>Lanche manhã</p>
                    <p>Refeição validada</p>
                </div>

                <div class="hora-seta">
                    <p>10:30</p>
                    <img src="../images/seta_direita.png" alt="seta">
                </div>
            </div>

            <div class="container">

                <div class="check">
                    <img src="../images/Check.png" alt="check">
                </div>

                <div class="informacoes-container">
                    <p>Lanche manhã</p>
                    <p>Refeição validada</p>
                </div>

                <div class="hora-seta">
                    <p>10:30</p>
                    <img src="../images/seta_direita.png" alt="seta">
                </div>
            </div>
        </section>

        <section class="historico-dias">
            <div id="data">
                <p>Ontem - </p>
                <p>09/10/2027</p>
            </div>

            <div class="container">

                <div class="check">
                    <img src="../images/Check.png" alt="check">
                </div>

                <div class="informacoes-container">
                    <p>Lanche manhã</p>
                    <p>Refeição validada</p>
                </div>

                <div class="hora-seta">
                    <p>10:30</p>
                    <img src="../images/seta_direita.png" alt="seta">
                </div>
            </div>

            <div class="container">

                <div class="check">
                    <img src="../images/Check.png" alt="check">
                </div>

                <div class="informacoes-container">
                    <p>Lanche manhã</p>
                    <p>Refeição validada</p>
                </div>

                <div class="hora-seta">
                    <p>10:30</p>
                    <img src="../images/seta_direita.png" alt="seta">
                </div>
            </div>
        
        
    </main>
</body>
</html>