<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <div>
        <h1>NUTRIF</h1>
        <p>alimentação escolar de forma simples e segura.</p>
        <img>
    </div>

    <div id="login">

        <h2>Bem-vindo(a)!</h2>
        <p>Acesse sua conta para utilizar o sistema NUTRIF</p>

        <div class="input">
            <img>
            <p>Matricula</p>
        </div>

        <div class="input">
            <img>
            <p>Senha</p>
        </div>

        <div class="entrar">
            <p>ENTRAR</p>
        </div>

        <p>Acesso exclusivo para estudantes.</p>
    </div>
</body>
</html>