<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>

    <div id="inicio">
        <img>
        <h1>NUTRIF</h1>
        <p>alimentação escolar de forma simples e segura.</p>
        
    </div>

    <div id="login">
 
        <div class="BemVindo">
            <h2>Bem-vindo(a)!</h2>
            <p>Acesse sua conta para utilizar o sistema NUTRIF</p>
        </div>
            

        <div class="input">
            <img src="../images/matricula.svg" alt="icone matricula">
            <input type="text" placeholder="Matricula">
        </div>

        <div class="input">
            <img src="../images/senha.svg" alt="icone senha">
            <input type="password" placeholder="Senha">
        </div>

        <div class="entrar">
            <a href="dashboard.html">ENTRAR</a>
        </div>

        <p>Acesso exclusivo para estudantes.</p>
    </div>
</body>
</html>